* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Style the top navigation bar */
.topnavhome {
    overflow: hidden;
    background-color: #151f0f;
}

    /* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #adb4a9;
    background-color: #151f0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

        /* Change color on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
.topnav1 {
    overflow: hidden;
    background-color: #333;
}

    /* Style the topnav links */
    .topnav1 a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav1 a:hover {
            background-color: #ddd;
            color: black;
        }
.topnav2 {
    overflow: hidden;
    background-color: #333;
}

    /* Style the topnav links */
    .topnav2 a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav2 a:hover {
            background-color: #ddd;
            color: black;
        }
.topnav3 {
    overflow: hidden;
    background-color: #333;
}

    /* Style the topnav links */
    .topnav3 a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change color on hover */
        .topnav3 a:hover {
            background-color: #ddd;
            color: black;
        }
/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}
